<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!--spring MVC 相关配置-->

    <!-- 打开注解 激活spring基于注解的DI -->
    <context:annotation-config />

    <!-- 扫描识别包下包含的注解类 @Controller -->
    <context:component-scan base-package="com.spring.mvc.demo">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- HandleMapping 无需配置，spring mvc 默认启动 -->
    <!--扩展了注解驱动，可以将请求参数绑定到控制器参数-->
    <mvc:annotation-driven/>

    <!-- 访问 静态资源 css js images -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--配置ViewResolver，可以使用多个，使用order属性进行排序-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="209715200"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>

    <!-- 映射根目录，所访问的页面 -->
    <mvc:view-controller path="/" view-name="index"/>
</beans>